.banner-banner {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #0F1015;
}
.banner-captions {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.banner-caption {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.banner-text {
  color: rgb(246, 245, 237);
  font-size: 14px;
  text-align: center;
}
.banner-link {
  color: rgb(246, 245, 237);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.banner-link:hover {
  color: grey;
}
.banner-link1 {
  display: contents;
}
.banner-caption1 {
  gap: 4px;
  width: 100%;
  display: none;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.banner-text1 {
  color: rgb(246, 245, 237);
  font-size: 14px;
  text-align: center;
}
.banner-text2 {
  color: rgb(246, 245, 237);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
}
.banner-text2:hover {
  color: grey;
}
.banner-close {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.banner-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}
.banner-icon:hover {
  fill: grey;
}
@media(max-width: 479px) {
  .banner-caption {
    display: none;
  }
  .banner-caption1 {
    display: flex;
    padding-left: 0px;
  }
  .banner-icon {
    display: none;
  }
}

.icon-container-icon-container {
  position: relative;
}
.icon-container-icon {
  width: 16px;
  height: 16px;
  display: none;
}
.icon-container-icon2 {
  width: 16px;
  height: 16px;
}







































.branding1-branding {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.branding1-logo {
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.branding1-company-name {
  color: #222223;
  font-size: 36px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 54px;
}






@media(max-width: 767px) {
  .branding1-logo {
    width: 15px;
    height: 15px;
  }
  .branding1-company-name {
    font-size: 21px;
    line-height: 32px;
  }
}

.donate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.donate-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.donate-navlink {
  display: contents;
}
.donate-image {
  width: auto;
  height: 132px;
  text-decoration: none;
}
.donate-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.donate-links {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: var(--dl-size-size-xlarge);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-link {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-link1 {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-link2 {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-link3 {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-link4 {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-buttons {
  width: 300px;
  height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.donate-text {
  width: auto;
  height: 30px;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.donate-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.donate-navlink1 {
  width: auto;
  text-decoration: none;
  background-color: 84C06E;
}
.donate-container02 {
  flex: 1;
  width: auto;
  height: 20px;
  align-self: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.donate-container03 {
  display: contents;
}
.donate-burger-menu {
  display: none;
}
.donate-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.donate-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.donate-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.donate-logo {
  height: 2rem;
}
.donate-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.donate-text03 {
  width: auto;
  height: 30px;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.donate-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.donate-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-login {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.donate-container06 {
  flex: 1;
  width: auto;
  height: 20px;
  align-self: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.donate-container07 {
  display: contents;
}
.donate-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.donate-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.donate-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.donate-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.donate-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.donate-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.donate-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.donate-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.donate-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.donate-header {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-heading {
  width: 100%;
  font-size: 56px;
  max-width: 640px;
  font-style: normal;
  text-align: center;
  font-family: "Lora";
  font-weight: 500;
  line-height: 72px;
}
.donate-caption {
  width: 100%;
  font-size: 20px;
  max-width: 640px;
  text-align: center;
  line-height: 30px;
}
.donate-amount {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-row {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-navlink5 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.donate-navlink6 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.donate-row1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-navlink7 {
  color: rgb(255, 255, 255);
  padding-right: 29px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.donate-navlink8 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.donate-hero-section {
  gap: 0;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: column;
}
.donate-header1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 75%;
  height: auto;
  display: flex;
  align-self: center;
  max-height: auto;
  min-height: auto;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.donate-heading1 {
  color: #222223;
  font-size: 70px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 91px;
}
.donate-caption1 {
  color: rgb(34, 34, 35);
  width: auto;
  height: auto;
  font-size: 20px;
  max-height: auto;
  min-height: auto;
  line-height: 30px;
}
.donate-image1 {
  flex: 1;
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.donate-mission {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.donate-container08 {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  max-width: auto;
  align-self: center;
  max-height: 100%;
  align-items: center;
  flex-direction: column;
}
.donate-content1 {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-main {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-header2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-heading2 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
}
.donate-caption2 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-highlights {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.donate-ul {
  list-style-type: disc;
}
.donate-li {
  font-size: 20px;
}
.donate-li1 {
  font-size: 20px;
}
.donate-li2 {
  font-size: 20px;
}
.donate-image2 {
  flex: 1;
  width: auto;
  height: auto;
  object-fit: cover;
}
.donate-donation-use {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.donate-header3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.donate-heading3 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
}
.donate-caption3 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-accordion {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.donate-header4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-text25 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.donate-text26 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-container10 {
  display: contents;
}
.donate-updates {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: F3D1D9;
}
.donate-content3 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 100px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 100px;
  justify-content: center;
}
.donate-details {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.donate-header5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.donate-heading4 {
  color: rgb(34, 34, 35);
  width: 100%;
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 400;
  line-height: 52px;
}
.donate-input {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.donate-textinput {
  color: #222223;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.donate-button {
  background-color: 84C06E;
}
.donate-action {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-agreement {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.donate-states {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.donate-checkbox {
  width: 24px;
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: flex-start;
  border-color: #222223;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  background-color: #ffffff;
}
.donate-checkbox1 {
  width: 24px;
  cursor: pointer;
  height: 24px;
  display: none;
  align-items: center;
  border-color: #222223;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(121, 212, 144);
}
.donate-icon10 {
  width: 10px;
  height: 10x;
}
.donate-caption4 {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.donate-normal {
  color: rgb(34, 34, 35);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.donate-bold {
  color: rgb(34, 34, 35);
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.donate-container12 {
  display: contents;
}
.donate-slider {
  gap: 115px;
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-slides {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.donate-image3 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.donate-text27 {
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 31px;
}
.donate-image4 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.donate-text28 {
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 31px;
}
.donate-image5 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.donate-text31 {
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 31px;
}
.donate-buttons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-buttons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donate-previous {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: transparent;
}
.donate-icon12 {
  width: 18px;
  height: 18px;
}
.donate-next {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: transparent;
}
.donate-icon14 {
  width: 18px;
  height: 18px;
}
.donate-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: 84C06E;
}
.donate-top1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  border-color: #222223;
  border-style: dashed;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.donate-navigation-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.donate-link5 {
  text-decoration: none;
}
.donate-link6 {
  text-decoration: none;
}
.donate-link7 {
  text-decoration: none;
}
.donate-link8 {
  text-decoration: none;
}
.donate-middle {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 250px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.donate-text34 {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Lora;
  font-weight: 500;
  line-height: 36px;
}
.donate-text35 {
  width: 100%;
  text-align: center;
}
.donate-text38 {
  width: 100%;
  text-align: center;
}
.donate-text40 {
  width: 100%;
  text-align: center;
}
.donate-text43 {
  width: 100%;
  text-align: center;
}
.donate-text45 {
  width: 100%;
  text-align: center;
}
.donate-bottom {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #222223;
  border-style: dashed;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
}
.donate-copyright {
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
}
.donate-container14 {
  display: contents;
}
.donate-container16 {
  display: contents;
}
@media(max-width: 1600px) {
  .donate-hero-section {
    flex: 1;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .donate-header1 {
    width: 75%;
    align-self: center;
  }
  .donate-heading1 {
    color: rgb(34, 34, 35);
    font-size: 70px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 91px;
  }
  .donate-caption1 {
    color: rgb(34, 34, 35);
    font-size: 20px;
    line-height: 30px;
  }
  .donate-image1 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    min-width: auto;
    align-self: center;
    max-height: auto;
    min-height: auto;
  }
  .donate-heading2 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .donate-caption2 {
    color: rgb(34, 34, 35);
  }
  .donate-image2 {
    max-width: auto;
    max-height: auto;
  }
  .donate-link5 {
    text-decoration: none;
  }
  .donate-link6 {
    text-decoration: none;
  }
  .donate-link8 {
    text-decoration: none;
  }
  .donate-middle {
    width: 311px;
    height: 100%;
  }
  .donate-text34 {
    line-height: 36px;
  }
  .donate-copyright {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
}
@media(max-width: 1200px) {
  .donate-navlink1 {
    background-color: #84C06E;
  }
  .donate-hero-section {
    max-width: 100%;
  }
  .donate-header1 {
    gap: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .donate-heading1 {
    align-self: center;
  }
  .donate-caption1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .donate-image1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    min-height: auto;
  }
  .donate-text11 {
    font-style: normal;
    font-weight: 500;
  }
  .donate-text13 {
    font-style: normal;
    font-weight: 700;
  }
  .donate-text16 {
    font-style: normal;
    font-weight: 700;
  }
  .donate-text19 {
    font-style: normal;
    font-weight: 700;
  }
  .donate-heading3 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .donate-caption3 {
    color: rgb(34, 34, 35);
    font-size: 18px;
    line-height: 27px;
  }
  .donate-text25 {
    color: rgb(34, 34, 35);
    font-size: 24px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
  }
  .donate-text26 {
    color: rgb(34, 34, 35);
    font-size: 18px;
    line-height: 27px;
  }
  .donate-content3 {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #F3D1D9;
  }
  .donate-heading4 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 400;
    line-height: 52px;
  }
  .donate-button {
    background-color: #84C06E;
  }
  .donate-text27 {
    font-size: 24px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 31px;
  }
  .donate-footer {
    width: 100%;
    height: 643px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #84C06E;
  }
}
@media(max-width: 991px) {
  .donate-logo {
    width: var(--dl-size-size-xlarge);
    height: auto;
  }
  .donate-login {
    width: var(--dl-size-size-large);
  }
  .donate-content {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .donate-hero-section {
    max-width: 100%;
  }
  .donate-heading1 {
    font-size: 36px;
    align-self: center;
    line-height: 46px;
  }
  .donate-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-text09 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-text10 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-image1 {
    width: 100%;
    height: 100%;
  }
  .donate-mission {
    gap: var(--dl-space-space-twounits);
  }
  .donate-image2 {
    width: 100%;
  }
  .donate-donation-use {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .donate-content3 {
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .donate-details {
    width: 100%;
  }
  .donate-input {
    width: 100%;
  }
  .donate-textinput {
    flex: 1;
  }
  .donate-button {
    width: 30%;
  }
  .donate-slider {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    flex-direction: column;
  }
  .donate-image3 {
    height: auto;
  }
  .donate-buttons2 {
    flex-direction: row;
  }
  .donate-footer {
    width: 100%;
    padding-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 767px) {
  .donate-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .donate-desktop-menu {
    display: none;
  }
  .donate-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .donate-logo {
    width: 150px;
    height: auto;
  }
  .donate-text03 {
    align-self: center;
  }
  .donate-container05 {
    flex: 0.5;
    width: 291px;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .donate-buttons1 {
    flex: 1;
    width: auto;
    margin-top: 0px;
    justify-content: center;
  }
  .donate-login {
    width: auto;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-container06 {
    width: 120px;
    padding-left: 0px;
  }
  .donate-icon02 {
    width: var(--dl-size-size-medium);
    height: auto;
  }
  .donate-navlink2 {
    width: 300px;
    font-size: 50px;
    text-align: left;
    line-height: 2;
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
  }
  .donate-navlink3 {
    width: 300px;
    font-size: 50px;
    text-align: left;
    line-height: 2;
    margin-left: 0;
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    background-color: #f1f1f1;
  }
  .donate-navlink4 {
    width: 300px;
    font-size: 50px;
    text-align: left;
    line-height: 2;
    margin-left: 0;
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    background-color: #f1f1f1;
  }
  .donate-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-amount {
    max-width: 1000%;
  }
  .donate-hero-section {
    height: 100%;
    max-width: 100%;
  }
  .donate-heading1 {
    align-self: center;
    text-align: center;
    padding-left: 0px;
  }
  .donate-caption1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .donate-image1 {
    width: 100%;
    height: auto;
  }
  .donate-mission {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .donate-content1 {
    max-width: 100%;
  }
  .donate-image2 {
    width: 100%;
  }
  .donate-donation-use {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .donate-header3 {
    max-width: 100%;
  }
  .donate-accordion {
    width: 100%;
  }
  .donate-content3 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-slider {
    gap: var(--dl-space-space-threeunits);
  }
  .donate-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .donate-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .donate-mobile-menu {
    flex: 1;
    height: auto;
    padding: 16px;
    position: static;
  }
  .donate-nav {
    width: 422px;
  }
  .donate-container04 {
    flex: auto;
    width: var(--dl-size-size-xsmall);
  }
  .donate-container05 {
    width: var(--dl-size-size-xlarge);
  }
  .donate-icon02 {
    width: var(--dl-size-size-small);
    height: auto;
  }
  .donate-links1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .donate-navlink2 {
    background-color: #f1f1f1;
  }
  .donate-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-heading {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-amount {
    flex-direction: column;
  }
  .donate-row {
    width: 100%;
  }
  .donate-row1 {
    width: 100%;
  }
  .donate-hero-section {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .donate-heading1 {
    text-align: center;
  }
  .donate-caption1 {
    text-align: left;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-image1 {
    width: 100%;
  }
  .donate-mission {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-header2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .donate-heading2 {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-caption2 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-highlights {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .donate-image2 {
    flex: 1;
    width: 100%;
    max-width: 100%;
  }
  .donate-donation-use {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-heading3 {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-caption3 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-element {
    gap: var(--dl-space-space-halfunit);
  }
  .donate-text25 {
    font-size: 16px;
  }
  .donate-text26 {
    line-height: 24px;
  }
  .donate-content3 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-heading4 {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-input {
    flex-direction: column;
  }
  .donate-textinput {
    width: 100%;
    text-align: center;
  }
  .donate-button {
    width: 100%;
  }
  .donate-action {
    gap: var(--dl-space-space-threeunits);
  }
  .donate-footer {
    padding-top: var(--dl-space-space-threeunits);
  }
  .donate-navigation-links {
    flex-direction: column;
  }
  .donate-text34 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text35 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text36 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text37 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text38 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text39 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text40 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text41 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text42 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text43 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text44 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text45 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-bottom {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .donate-copyright {
    font-size: 10px;
    line-height: 15px;
  }
}
